/* .mainhead{
    background-color: #ffffff;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-left: 14.125%;
    margin-right: 14.125%;
    overflow: hidden;
    padding-bottom: 0px;
}


.mainhead a {
    color: #777777;
}

.head1{
    float: left;
    background-color: #4aaaa5;
    color: white;
    font-size: 24px;
    padding: 24px;
}


.head2{
    margin-right: 10%;    
    font-size: 18px;
}

h2:link {
    color: black
}


.head2a{ 
    float: right;
    padding: 24px; 
    border-right-color: black;
    border-right-width: 50px;
    padding: 24px 5px; 
    
}
.head2b{
    float: right;
    padding: 24px 5px;   
}
.head2c{
    float: right;
    padding: 24px 5px;  
}

.head3{
    border-style: solid;
    border-left-width: 192px;
    border-right-width: 192px;
    border-top-width: 40px;
    border-bottom-width: 300px;
    border-color: #dddddd;
    background-color:#ffffff;
    padding: 14px 10px;
    padding-bottom: 3cm;
}

.head3:after {
    content: "";
    clear: both;
    display: table;
}

.image {
    height: 150px;
    width: 25%;
    float: left;
}

.head3a {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: bold;
    margin-left: 1.5%;
    margin-right: 1.5%;
    padding: 24px;
    border-bottom-style: solid;
    border-bottom-width: thick;
    border-bottom-color: #dddddd;
    overflow: hidden;
    padding-bottom: 15px;
}

.footer{
    text-align: center;
    border-top-style: solid;
    border-top-width: thick;
    border-top-color: #4aaaa5;
    background-color: #666666;
    padding-top: 1cm;
}

.line {
    padding: 0px;
}

.name{
    display: block;
    border: 0;
    border-color: #dddddd;
}

label{
    display: block;
    border-color: #dddddd;

}
input, textarea {
    display: block;
    width:  100%;
  
}

#submit{
border: 0;
background: #4aaaa5;
padding: .25rem; 
margin: 1rem 0;
width: 15%;
color: white; 
font-size: 16px;
font-family: Arial, Helvetica, sans-serif;
}

#message {

        padding-bottom: 20%;

}

.image1{
    height: 150px;
    width: 25%;
    float: left;
    margin-right: 1cm;
    margin-bottom: 1cm;
}

.image2{
    height: 150px;
    width: 25%;
    float: left;
   
}

.image3{
    height: 150px;
    width: 25%;
    float: left;
    margin-right: 1cm;
    margin-bottom: 1cm;
    clear: both;
}

.image4{
    height: 150px;
    width: 25%;
    float: left;
    margin-right: 1cm;
    margin-bottom: 1cm;
}

.image5{
    height: 150px;
    width: 25%;
    float: left;
    clear: both;
}

.headerline{
    border-top-style: solid;
    border-top-width: thin;
    border-color: #777777;
}

.container1{
    position: relative;
}

.container2{
    position: relative;
}

.text{
    position: absolute;
    top: 100px;
    background: #4aaaa5;
    padding: 10px 30px;
    width: 25%;
    text-align: center;
} */

*{
    box-sizing: border-box;
}

body{
    background-image: url(../images/grey.jpg);
    font-size: 12px;
    line-height: 34px;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}
.container {
    /* font-size: 18px; */
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
}

#masthead {
    background: #ffffff;
    margin: 0 0 30px;
    z-index: 99;
    color: #ffffff;
    overflow: auto;
    border-bottom: 2px solid #ccc;
    position: fixed;
    width: 100%;
}

#logo {
    width:250px;
    height: 90px;
    background: #4aaaa5;
    float: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    line-height: 90px;
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
}

nav {
    float: right;
    margin-top: 25px;
}

nav a {
    color: #999999;
    text-decoration: none;
    margin-left: 15px;
    display: inline-block;
    border-left: 1px solid #efefef;
    padding-left: 15px;
    line-height: 18px;
}


/* main */

#main-container{
    padding-top: 130px;
    padding-left: 200px;
    padding-right: 200px;
}


.main-section {
background: #ffffff;
padding: 30px;
width: 100%;
max-width: 680px;
float: left;
border: 1px solid #dddddd;  
margin: 0 0 40px 0;  
}

.auth-image {
    width: 200px;
    height: auto;
    margin-top: 10px;
    float: left;
    margin-right: 25px;
}

/* sidebar */
.sidebar{
    background: #ffffff;
    padding: 30px;
    width: 100%;
    max-width: 270px;
    float: right;
    border: 1px solid #dddddd;
    margin-bottom: 20px;
}

h3, .sidebar, h2 {
    border-bottom: 2px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 15px;
    line-height: 22px;
}

.social {
    width: 40px;
    height: 40px;
    margin-top: 8px;
    margin-right: 5px;
}

.social:last-child {
    margin-right: 0;
}

h1, h2, h3, p {
    margin-bottom: 20px;
}

p:last-child{
    margin-bottom: 0;
}

h1, h2, h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    color: 4aaaa5;
}

h1{
    font-size: 30px;
    line-height: 49px;
    border-bottom: 3px solid #dddddd;
    padding-bottom: 20px;
}

h2, h3 {
    font-size: 22px;
}

/* footer */
footer {
    background: #666666;
    color: #ffffff;
    padding: 30px;
    clear: both;
    border-top: 8px solid #4aaaa5;
    color: #ccc;
    font-size: 12px;
    text-align: center;
    border-bottom: 0px;
}